@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loader {
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ddd;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader input[type="submit"],
.loader + #signup {
  cursor: not-allowed;
  pointer-events: none;
}
